[Unit]
Description=personal lab portfolio
After=network.target

[Service]
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Restart=always
User=nobody
Group=nogroup
WorkingDirectory=/home/andthenbeyond/sitiopersonal/
ExecStart=/usr/bin/node /home/andthenbeyond/sitiopersonal/gatekeeper.js
StartLimitInterval=3
StartLimitBurst=1

[Install]
WantedBy=multi-user.target