*{font-family: 'Roboto Mono', monospace;text-align: center;}
.color_contrast_1{
    background-color:rgb(194,1,20,1);
    color:rgb(255,255,255,1);
}
.color_contrast_2{
    background-color:rgb(211, 201, 174);
    color:rgb(0,0,0,1);
}
.color_contrast_3{
    background-color:rgb(22,38,46,1);
    color:rgb(255,255,255,1);
}
.color_contrast_4{
    background-color:rgb(255,177,0,1);
    color:rgb(0,0,0,1);
}
.color_contrast_5{
    background-color:rgb(28,124,84,1);
    color:rgb(255,255,255,1);
}
.botopts{
    margin: .7em;
    padding: .3em;
    transition: 0.5s;
    border-width: .2em;
    border-style: outset;
    border-color: gray;
    cursor: pointer;
    max-width: 410px;
}
.byemessage{
    font-size: 85%;
}
#option_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.index_entry {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em;
    padding: 1em;
}
.normal_font{
    font-size: 1rem;
}

@media only screen and (max-width: 410px) {
    .botopts{
        width:100%;
    }
}