[Unit]
Description=personal laboratory portfolio
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User=root
Group=root
Environment=PATH=/home/andthenbeyond/.nvm/versions/node/v24.8.0/bin:/usr/bin:/usr/local/bin:/snap/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/andthenbeyond/plp/
ExecStart=/home/andthenbeyond/.nvm/versions/node/v24.8.0/bin/node /home/andthenbeyond/plp/main.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
