[Unit]
Description=personal laboratory portfolio
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User=root
Group=root
Environment=NODE_ENV=production

WorkingDirectory=/home/demian/plp
ExecStart=/usr/bin/node /home/demian/plp/main.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
