.background{
    color:hsla(0, 100%, 100%, 1);
    background-color:hsla(0, 0%, 0%, 1);
}
.color_contrast_1{
    color:hsla(100, 100%, 36%, 1);
    background-color: hsla(243, 50%, 10%, 1);
}
.color_contrast_2{
    color:hsla(245, 100%, 36%, 1);
    background-color: hsla(45, 100%, 8%, 1);
}
.color_contrast_3{
    color:hsla(360, 100%, 36%, 1);
    background-color: hsla(135, 100%, 6%, 1);
}
.border{
    border-style: outset;
    border-width: .3em;
    border-color: grey;
}