.background{
    background-color:hsla(0, 0%, 0%, 1);
    color:hsla(360, 100%, 100%, 1);
}
.color_contrast_1{
    color:rgb(0,255,0);
    background-color: rgb(255,255,255,.1);
}
.color_contrast_2{
    color:rgb(255,0,0);
    background-color: rgb(255,255,255,.1);
}
.color_contrast_3{
    color:rgb(0,0,255);
    background-color: rgb(255,255,255,.1);
}
.border{
    border-style: outset;
    border-width: .3em;
    border-color: grey;
}