.background{
    background-color:rgb(0,0,0);
    color:rgb(255,255,255);
}
.color_contrast_1{
    color:rgb(0,255,0);
}
.color_contrast_2{
    color:rgb(255,0,0);
}
.color_contrast_3{
    color:rgb(0,0,255);
}
.report_container{
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;    
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-color:rgb(0,0,255);
    border-style: double;
    border-width: .2em;
}
.progress_card{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: .5em;
    padding: .5em;
    border-color:rgb(255,0,0);
    border-style: inset;
    border-width: .2em;
}
.sub_container{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-color:rgb(0,255,0);
    border-style: outset;
    border-width: .2em;
}
