.app_container {
  position:absolute;
  top:2em;
}
.top_bar {
  position:fixed;
  top:-1px;
  left: -1px;
  right:-1px;
  padding:.2rem;
  margin:.2rem;
  height: 2rem;
  display:flex;
  font-size: 150%;
  justify-content: space-between;
}
.second_bar {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  padding:.2rem;
  margin:.2rem;
  height: 2rem;
  display:flex;
  font-size: 150%;
  justify-content: space-between;
}
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.sidenav .main_opt {
  cursor: pointer;
  width: 210px;
  margin:.5em;
  padding:.5em;
  transition: 0.3s;
  text-decoration: underline;
}