*{font-family: 'Roboto Mono', monospace;text-align: center;}
.left_menu {
    position: sticky;
    top: 0vh;
    z-index: 2;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.go_away {
    animation: away_mov 1s forwards;
}
@keyframes away_mov {
    to {
        left: -100vw; 
        width: 110vw;
    }
}
.come_in {
    animation: in_mov 1s forwards;
}
@keyframes in_mov {
    to {
        left: -10vw; 
        width: 110vw;
    }
}