*{font-family: 'Roboto Mono', monospace;text-align: center;}
.left_menu {
    position: fixed;
    left: -315px;
    top: 0px;
    width: 360px;
    z-index: 2;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.come_in {
    animation: in_mov 1s forwards;
}
@keyframes in_mov {
    to {
        left: 0px;
    }
}